.question-container {
  font-size: 1.5rem;
  background-color: var(--white);
}

.list {
  font-weight: 600;
  box-shadow: 2px 2px 3px var(--grey);
}

.list li {
  margin: 0.5rem;
}

.question-container .list li:hover {
  background-color: var(--slate);
}

.selected {
  background-color: var(--slate);
}
